# ? valgrind
vgcore.*

# ? obj
*.o

# ? lib
*.a
*.so

# ? executable
*.out
unit_tests
arcade

# ? coverage
*.gcda
*.gcno
*.gcov

# ? tmp
*~
\#*#
.cache
log.bin

# ? vscode
.vscode/

# ? compilation database
compile_commands.json
